body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quizContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: all 0.3s ease;
}

h2 {
    color: #495057;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin: 10px 0;
    color: #343a40;
    text-align: left;
}

#resultContainer {
    margin-top: 20px;
}
